In [109]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator,SimpleImputer
df = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [121]:
X = df.drop(columns=['Survived'])
y = df['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)
X_test_new=X_test

In [122]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [123]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf,y_train)

y_pred = clf.predict(X_test_trf)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6145251396648045

In [124]:
# using sklearn MissingIndicator
mi=MissingIndicator()
mi.fit(X_train)

MissingIndicator()

In [125]:
mi.features_

array([0], dtype=int64)

In [126]:
X_train_missing = mi.transform(X_train)

In [127]:
X_train['Age_NA'] = X_train_missing

<ipython-input-127-453d4a172d2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Age_NA'] = X_train_missing

In [128]:
X_test_missing = mi.transform(X_test)

In [133]:
X_test['na_missing']=X_test_missing

<ipython-input-133-2d06cb1208ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['na_missing']=X_test_missing

In [135]:
X_train['na_missing']=X_train_missing

<ipython-input-135-53a9d5707d58>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['na_missing']=X_train_missing

In [136]:
X_train.head()

      Age     Fare  Age_NA  na_missing
30   40.0  27.7208   False       False
10    4.0  16.7000   False       False
873  47.0   9.0000   False       False
182   9.0  31.3875   False       False
876  20.0   9.8458   False       False

In [139]:
X_train.drop(columns=['na_missing'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [141]:
X_test

      Age     Fare  na_missing
707  42.0  26.2875       False
37   21.0   8.0500       False
615  24.0  65.0000       False
169  28.0  56.4958       False
68   17.0   7.9250       False
..    ...      ...         ...
89   24.0   8.0500       False
80   22.0   9.0000       False
846   NaN  69.5500        True
870  26.0   7.8958       False
251  29.0  10.4625       False

[179 rows x 3 columns]

In [142]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [143]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173

In [144]:
si = SimpleImputer(add_indicator=True)
X_train = si.fit_transform(X_train)
X_test = si.transform(X_test)
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173